<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Main Content (2 columns) -->
    <div class="lg:col-span-2">
      <%= render 'hero' %>
      <%= render 'description' %>
      <%= render 'organizer' %>
      <%= render 'date' %>
      <%= render 'location' %>
    </div>

    <!-- Ticket Selection (1 column) -->
    <div class="lg:col-span-1" id="tickets">
      <%= render Elements::OrderComponent.new(ticket_types: @ticket_types, event: @event, order: @order) %>
    </div>
  </div>
</div> 